.header__image {
  width: 700px;
}

.header__ball2 {
  position: absolute;
  right: 80px;
  top: 360px;
}

.profile {
  position: absolute;
  top: 350px;
}

.purple {
  background-color: #4B00EC;
  /* width: 300px; */
}

.card__body {
  background-image: url('pitch-background-blur.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  background-color: #999999;
}